Package: blockchain-package
Version: 1.0.0
Architecture: all
Essential: no
Priority: optional
Depends: make, bzip2, automake, libbz2-dev, libssl-dev, doxygen, graphviz, libgmp3-dev, autotools-dev, libicu-dev, python2.7, python2.7-dev, python3, python3-dev, autoconf, libtool, curl, zlib1g-dev, sudo, ruby, libusb-1.0-0-dev, libcurl4-gnutls-dev, pkg-config, patch, llvm-10-dev, clang-10, vim-common, jq, libncurses5
Maintainer: vanja_sretenovic
Description: Blockchain package that contains all necessary tools for interaction with EOSIO Blockchain.
